
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Factory Utility
Type=Application
Exec=sudo /usr/local/sbin/FactoryUtility.pl
TryExec=
X-GNOME-DocPath=
Terminal=false
Name[en_US]=Factory Utility
GenericName[en_US]=
Comment[en_US]=Utility for production of Ubiquiti units
GenericName=
Comment=Utility for production
Icon=gnome-run
StartupNotify=false
