[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=BackT1-test
Type=Application
Exec=sudo python3 /usr/local/sbin/uifactorygui.py -p=PRODUCTSRL -ft=backtot1
TryExec=
X-GNOME-DocPath=
Terminal=false
Name[en_US]=BackT1-test
GenericName[en_US]=
Comment[en_US]=Utility for production of Ubiquiti units
GenericName=
Comment=Utility for production
Icon=/usr/local/sbin/icons/rocket.png
StartupNotify=false
